:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  header {
    background-color: var(--bgDark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
  }
  header nav .left a {
    color: var(--white);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  header nav .left a:hover {
    color: var(--primary);
  }
  header nav {
    padding: 2rem 0;
  }
  header nav .logo {
    margin-right: 3rem;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    max-width: 80%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .hero {
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 80%;
    margin:auto;
  }
  .hero .left img {
    width: 500px;
    height: 500px;
    margin: 70px;
    border-radius: 9999px;
  }
  .hero .right {
    color: var(--white);
    margin-top: -7rem;
  }
  .hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
  }
  .hero .right h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  .hero .right h1 span {
    color: var(--primary);
  }
  .hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
  }
  
  section {
    padding: 6rem;
  }
  section.about h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  section.about h1 span {
    color: var(--primary);
  }
  section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  section.about p {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    line-height: 1.9rem;
    margin-bottom: 2rem;
  }
  section.about .socials {
    display: flex;
  }
  section.about .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    margin-right: 0.8rem;
    border-radius: 50%;
  }
  section.about .socials a:hover {
    background: var(--primary);
  }
  
  section.services {
    background: rgb(17, 17, 17);
  }
  .services-head {
    /* color: rgb(10, 9, 9); */
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary);
  }
  .services-head + p {
    color: var(--white);
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
  }
  .card img {
    width: 50px;
    background: white;
  }
  section.services .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  section.services .card-grid .card {
    background: var(--white);
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: all 0.2s ease;
  }
  section.services .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
  }
  section.services .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  section.services .card-grid .card p {
    font-family: "Lato", sans-serif;
    color: var(--seconday);
    line-height: 1.6;
  }
  section.services .card-grid .card:hover {
    background: var(--primary);
  }
  section.services .card-grid .card:hover h2 {
    color: var(--white);
  }
  section.services .card-grid .card:hover p {
    color: var(--white);
  }
  
  .flex {
    display: flex;
  }
  .items-centre {
    align-items: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-right {
    justify-content: right;
  }
  .btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  .btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
    margin-top: -15rem;
  }
  .btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
  }
  .flex-1 {
    flex: 1;
  }
  .btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
  .btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
  }
  
/* *************************************/
/* ************ CONTACT STYLES ******** */
/* ************************************ */
 


  .contact{
    width: 80%;
    margin: auto;
  }
  .contact .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: var(--color);
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .contact .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary);
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--secondary);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: var(--primary);
  }

  /* *************************************/
  /* ************ FOOTER STYLES ******** */
  /* ************************************ */

  .footer {
    background: var(--bgDark);
    border-radius: 6px;
  }
  .footer .footer-row {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }


  @media (max-width: 950px) {
    .contact{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .contact .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .contact{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .contact .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .contact .content .left-side::before{
     display: none;
   }
   .contact .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }